.root {
    width: 255px;
    height: 100%;
    display: flex;
    flex-direction: column;
    background-color: #363740;
}

.logoTop {

    font-size: 24px;
    margin: 30px auto;
    font-weight: bold;
    color: rgb(131, 123, 123);
}

.lane {
    width: 100%;
    height: 1px;
    background-color: #54555a;
}

.navList {
    display: flex;
    flex-direction: column;

    font-family: Mulish;

    ul {
        margin: 0;
        padding: 0;
    }

    li {


    }
}

